<html xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/admin.html"
      xmlns:sec = "http://www.thymeleaf.org/extras/spring-security"
>

<div layout:fragment="list_of_table" >
    <button  type="button" class="btn btn-info mt-4 mb-4" data-toggle="modal" data-target="#addModal" >
        <span th:text="#{button.add}"></span>
    </button>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col"><span th:text="#{label.nameShopItem}"></span></th>
            <th scope="col">Code</th>
            <th scope="col"><span th:text="#{button.edit}"></span></th>
            <th  scope="col"><span th:text="#{button.delete}"></span></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sh:${pictures}">
            <th scope="row" th:text="${sh.id}"></th>
            <td> <img th:src="@{'/viewPicture/'+${sh.url}}"  style="width: 300px;" class="my-3"></td>
            <td th:text="${sh.url}"></td>
            <td th:text="${sh.addedDate}"></td>
            <td  ><button th:attr="data-target='#editModal'+${sh.getId()}" type="button" class="btn btn-success" data-toggle="modal" >
                <span th:text="#{button.edit}"></span>
            </button>
            </td>
            <td > <button type="button" class="btn btn-danger" data-toggle="modal" th:attr="data-target='#deleteModal'+${sh.getId()}">
                <span th:text="#{button.delete}"></span>
            </button></td>


            <!--    MODAL DELETE-->

            <div class="modal fade" th:id="'deleteModal'+${sh.getId()}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabe"><span th:text="#{label.delete}"></span></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><span th:text="#{button.cancel}"></span></button>
                            <form th:action="@{'/deletePicture/'+ ${sh.id}}" method="post">
                                <input type="hidden" name="id" th:value="${sh.id}">
                                <button  class="btn btn-danger"><span th:text="#{button.delete}"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--    END OF MODAL-->



            <!--   Modal EDIT-->
            <div class="modal fade" th:id="'editModal'+${sh.getId()}"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:action="@{'/editPicture'}" method="post" enctype="multipart/form-data">
                            <input type="hidden" th:value="${sh.id}" name="country_id">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabl">
                                    <span th:text="#{button.edit}"></span> </h5>
                                <button class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class ="custom-file">
                                    <input  type="file" class="custom-file-input" id="customFile1" name="url">
                                    <label class="custom-file-label" for="customFile1" th:text="#{button.chooseFile}"> </label>
                                    <button class="btn btn-success mt-2" th:text="#{button.uploadFile}"></button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--   End of modal-->
        </tr>
        </tbody>
    </table>


    <!--   Modal-->
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{'/addPicture'}" method="post" enctype="multipart/form-data">
                    <div class ="custom-file">
                        <input  type="file" class="custom-file-input" id="customFile" name="url">
                        <label class="custom-file-label" for="customFile" th:text="#{button.chooseFile}"> </label>
                        <button class="btn btn-success mt-2" th:text="#{button.uploadFile}"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--   End of modal-->
</div>
</html>