<html xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main.html">

<div layout:fragment="list_of_shops" >
    <h3 th:text="${currentUser.fullName}"></h3>

    <div class="row ">
        <div class="col-6 offset-3 ">
            <img th:src="@{'/viewPhoto/'+${currentUser.pictureURL}}"  style="width: 300px;" class="my-3">
            <form th:action="@{'uploadavatar'}" method="post" enctype="multipart/form-data">
                <div class ="custom-file">
                    <input  type="file" class="custom-file-input" id="customFile" name="user_ava">
                    <label class="custom-file-label" for="customFile" th:text="#{button.chooseFile}"> </label>
                    <button class="btn btn-success mt-2" th:text="#{button.uploadFile}"></button>
                </div>
            </form>
        </div>

    </div>


    <form th:action="@{'/editUserFullName'}" method="post">
        <input type="hidden" th:value="${currentUser.id}" name="id">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabl">
                <span th:text="#{button.edit}"></span>
            </h5>
        </div>
        <div class="modal-body">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-defaul 1"> <span th:text="#{label.fullName}"></span></span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="full_name" th:value="${currentUser.fullName}">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label th:text="#{label.email}">:  </label>
                    <span th:text="${currentUser.email}" ></span>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button  class="btn btn-primary"><span th:text="#{button.edit}"></span></button>
        </div>
    </form>

<form th:action="@{'/editUserPassword'}" method="post">
    <input type="hidden" th:value="${currentUser.id}" name="id">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-defaul"><span th:text="#{label.password}"></span></span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="old-password">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-defat4"><span th:text="#{label.newpass}"></span></span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="new-password">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default4"><span th:text="#{label.repass}"></span></span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="re-password">
    </div>
    <div class="modal-footer">
        <button  class="btn btn-primary"><span th:text="#{button.edit}"></span></button>
    </div>
</form>



</div>

</html>